{% extends 'base_layout.html' %}




{% block bodycontent%}
        
    <div class="container bg-info"> 
        <form class="form-control" action="/accounts/login/" method="post">
            {% csrf_token %}
            <!-- <h2>Enter login details</h2> -->
            <div class="section-title">
                <!-- <h2></h2> -->
                <h3>Enter login details</h3>
                <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
            </div>

            {{ form }}

            <br>

            <button type="submit" class="btn btn-success">
                <i class="fa fa-sign-in"></i>
                Login
            </button>

            <br> <br>

            
                <a href="#" class="col text-left">Forgot password?</a><br>
                <a href="{% url 'accounts:signup' %}" class="col text-right">Create New Account</a>
            
        </form>
    </div>
        
{% endblock %}

{% block scriptcontent %}
    <script>
        $(".active").removeClass("active");
        $("#nav-login").addClass("active");
        $("input").addClass("form-control");
    </script>
{% endblock %}
